PORT=8081
TASKS_FILE=/app/data/tasks.json
OUT_DIR=/app/data/output
SCHEDULER_INTERVAL=5m
MMDB_PATH=/app/data/GeoLite2-City.mmdb
NOMINATIM_URL=https://nominatim.openstreetmap.org
TLS_CERT_PATH=./certs/server.crt
TLS_KEY_PATH=./certs/server.key
BBOX_MAX_LAT=40.9
BBOX_MAX_LON=-73.7
BBOX_MIN_LAT=40.5
BBOX_MIN_LON=-74.1
